{% extends 'base.html' %}
{% load static %}

{% block title %} contacto {% endblock title %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
{% endblock styles %}

{% block content %}

{% include 'includes/header.html' %}

<div class="container">
    <h1 class="my-4">Gallery</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        {% for image in gallery %}
        <div class="col">
            <div class="card">
                <div class="image-container">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="Imagen {{ forloop.counter }}" data-bs-toggle="modal" data-bs-target="#imageModal" data-title="{{ image.title }}" data-slide-to="{{ forloop.counter0 }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in gallery %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.title }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

<script src="{% static 'js/gallery.js' %}"></script>

{% endblock content %}