{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} home {% endblock title %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}

{% include 'includes/header.html' %}

<!-- banner -->
<div class="banner">
    <img src="{{ home.image.url }}" class="img-responsive w-100" alt="banner">
    <div class="welcome-message position-absolute top-50 start-50 translate-middle text-center text-white">
        <div class="wrap-info">
            <div class="information">
                <h1 class="banner-h1">{{ home.title_banner }}</h1>
                <p class="banner-p">{{ home.subtitle_banner }}</p>
            </div>
        </div>
    </div>
    <a href="#information" class="arrow-nav d-flex justify-content-center"><img class="position-absolute p-2"
            src="{% static 'img/angle-down.svg' %}" alt="angle-down"></a>
</div>
<!-- banner -->

<!-- reservation-information -->
<div id="information" class="px-3 py-5 col-lg-11 mx-auto">
    <div class="row">
        <div class="video-info my-md-auto col-sm-7 col-lg-8">
            <div class="video-container">
                {% if home.welcome_video %}
                <video src="{{ home.welcome_video.url }}" controls preload="auto" type="video/mp4"></video>
                {% else %}
                <video src="" controls preload="auto" type="video/mp4"></video>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5 col-lg-4 mt-3 mt-md-0">
            <h3 class="mb-3">{% trans 'Make a Reservations' %}</h3>
            <form action="" method="post"> 
                {% csrf_token %}
                <div class="mb-3 form-group">
                    {{ form.name }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.email }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>
                <div class="mb-3 form-group">
                    <div class="row">
                        <div class="col-6">
                            {{ form.rooms }}
                        </div>
                        <div class="col-6">
                            {{ form.adults }}
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="date1">{% trans 'Check-in Date' %}</label>
                            {{ form.date_start }}
                        </div>
                        <div class="col-6">
                            <label for="date2">{% trans 'Check-out Date' %}</label>
                            {{ form.date_end }}
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-group">
                    {{ form.message }}
                </div>
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </form>
        </div>
    </div>
</div>
<!-- reservation-information -->

<!-- services -->
<div class="spacer services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mb-4 mb-sm-0">
                <!-- RoomCarousel -->
                <div id="RoomCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in home.home_room_image.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100"
                                alt="Room Image {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#RoomCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#RoomCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- RoomCarousel-->
                <div class="caption d-flex justify-content-between">{% trans 'Rooms' %}<a href="{% url 'room_app:rooms' %}"
                        class="pull-right"><img src="{% static 'img/ir_a_enlace.svg' %}" alt="go to link"></a>
                </div>
            </div>

            <div class="col-sm-4 mb-4 mb-sm-0">
                <!-- TourCarousel -->
                <div id="TourCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in home.home_tour_image.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100"
                                alt="Tour Image {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#TourCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TourCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- RoomCarousel-->
                <div class="caption d-flex justify-content-between">{% trans 'Tour Packages' %}<a href="{% url 'home_app:gallery' %}"
                        class="pull-right"><img src="{% static 'img/ir_a_enlace.svg' %}" alt="go to link"></a></div>
            </div>

            <div class="col-sm-4">
                <!-- FoodCarousel -->
                <div id="FoodCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in home.home_breakfast_image.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100"
                                alt="Tour Image {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#FoodCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#FoodCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- RoomCarousel-->
                <div class="caption d-flex justify-content-between">{% trans 'Breakfast' %}<a href="{% url 'home_app:gallery' %}"
                        class="pull-right"><img src="{% static 'img/ir_a_enlace.svg' %}" alt="go to link"></a></div>
            </div>
        </div>
    </div>
</div>
<!-- services -->


<script src="{% static 'js/bootstrap_js/bootstrap.min.js' %}"></script>
{% include 'includes/footer.html' %}
{% endblock content %}