{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} room {% endblock title %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
{% endblock styles %}

{% block content %}

{% include 'includes/header.html' %}

<div class="container my-4">
    <h2 class="room-title">{{ room.name }}</h2>

    <!-- Carrusel de Imágenes -->
    <div class="embed-responsive embed-responsive-16by9 mt-3">
        <div id="roomCarousel" class="carousel slide embed-responsive-item">
            <div class="carousel-inner">
                {% for image in room.room_image.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100"
                        alt="Imagen de la Habitación {{ room.name }}">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#roomCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#roomCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>

    <!-- Detalles de la Habitación -->
    <div class="room-details">
        <div class="details-container">
            <ul class="list-unstyled">
                {% if room.available %}
                <li><strong>{% trans 'Availability' %}:</strong> <span class="badge badge-available">{% trans 'Available' %}</span></li>
                {% else %}
                <li><strong>{% trans 'Availability' %}:</strong> <span class="badge badge-unavailable">{% trans 'Not Available' %}</span></li>
                {% endif %}
                <li><strong>{% trans 'Amount of people:' %}</strong> {{ room.amount_of_people }}</li>
                <li><strong>{% trans 'Size' %}:</strong> {{ room.size }} <b>sq</b></li>
                <li><strong> {% trans 'Price' %}:</strong> ${{ room.price }} {% trans 'per night' %}</li>
            </ul>
            {% if room.available %}
            <a href="{% url 'room_app:reserve_room' room.id %}" class="btn-reserve">{% trans 'Reserve' %}</a>
            {% else %}
            <button class="btn-disabled" disabled>{% trans 'Reserve' %}</button>
            {% endif %}
        </div>
        <p class="room-description mt-3">{{ room.description }}</p>
    </div>
</div>

{% include 'includes/footer.html' %}
{% endblock content %}