{% load static %}
{% block styles %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
{% endblock styles %}

<!--Footer-->

<footer class="spacer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="text-white">Hotel Art Deco Beach</h4>
                <p>Hotel Art Deco Beach raising the standards of all boutique hotel in Central America. Rest assured that we are in business to make sure you have a good nights rest and a good morning's start. Situated in front of Malecon La Ceiba, Hotel Art Deco Beach is always in the middle of the cities social activities. </p>
            </div>

            <div class="col-sm-3">
                <h4 class="text-white">Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{% url 'home_app:rooms' %}">Rooms & Pricing</a></li>
                    <li><a class="footer-link" href="{% url 'home_app:introduction' %}">Introduction</a></li>
                    <li><a class="footer-link" href="{% url 'home_app:gallery' %}">Gallery</a></li>
                    <li><a class="footer-link" href="{% url 'home_app:contact' %}">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-4 subscribe">
                <h4 class="text-white">Subscription</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="footer-btn-suscription btn btn-default" type="button">Get Notified</button>
                    </span>
                </div>
                <div class="social mt-3">
                    <a href="https://facebook.com/hotelartdecobeach"><img class="social-img" src="{% static 'img/social_media/facebook.svg' %}" alt="facebook icon"></a>
                    <a href="https://instagram.com/hotelartdecobeach"><img class="social-img" src="{% static 'img/social_media/instagram.svg' %}" alt="instagram icon"></a>
                    <a href="https://twitter.com/hotelartdecobeach"><img class="social-img" src="{% static 'img/social_media/twitter.svg' %}" alt="twitter icon"></a>
                    <a href="https://pintrest.com/hotelartdecobeach"><img class="social-img" src="{% static 'img/social_media/pinterest.svg' %}" alt="pinterest icon"></a>
                    <a href="https://youtube.com/channel/UC83YBMMVDDVoljA6anHt-tQ"><img class="social-img" src="{% static 'img/social_media/youtube.svg' %}" alt="youtube icon"></a>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->

    <!--/.footer-bottom-->
</footer>
<div class="custom-copyright d-flex justify-content-center text-center copyright">Created by Ronny Blandon  
    <div class="linkedin ms-1">
        <img class="footer-img-linkedin" src="{% static 'img/Linkedin.svg' %}" alt="Linkedin">
        <a class="footer-link" href="https://www.linkedin.com/in/ronnyblandon/" target="_blank">Linkedin</a>
    </div>
</div>